.card {
  margin: 10px;
  padding: 10px;
  // border: 1px solid red;
}

.container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.flex-col-1 {
  width: 20%;
}

.flex-col-2 {
  flex-grow: 1;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      font-weight: 900;
      font-size: 1.25rem;
    }
  }

  .challenge {
    color: gray;
    font-weight: 700;
    font-size: 0.75rem;
  }
}

.week {
  display: flex;
  gap: 0.25rem;
  justify-content: space-between;
}

.day {
  display: grid;
  place-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.1);
  margin-top: 0.75rem;
  font-size: 0.75rem;
  font-weight: 700;
}

.past-day {
  background-color: #15b0e2;
  color: white;
}

.current-day {
  background-color: white;
  color: black;
  border: 1px solid #15b0e2;
}

.future-day {
  border: 1px solid white;
  border-radius: 50%;
}
