<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header">
      <div class="flex-row-1">
        <p class="header-title">Nutrition</p>
      </div>
      <div class="flex-row-2">
        <ion-icon name="help-circle-outline" size="large"></ion-icon>
        <ion-icon name="ellipsis-vertical-outline" size="large"></ion-icon>
        <ion-img
          class="logo"
          src="assets/images/logo-white-blue-bg.png"
          alt="1st Phorm Logo"
        ></ion-img>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-daily-intake></app-daily-intake>
</ion-content>
