<ion-content [fullscreen]="true">
  <div class="flex-center">
    <div>
      <ion-img
        class="logo"
        src="assets/images/logo-white-blue-bg.png"
        alt="1st Phorm Logo"
      ></ion-img>
      <h1 class="header">Sign Up</h1>
      <ion-card-content class="form-container">
        <div class="flex-row">
          <ion-item class="flex-item">
            <ion-label position="floating">First Name</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item class="flex-item">
            <ion-label position="floating">Last Name</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </div>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <p class="terms-conditions">
          By creating an account, you agree to our Terms and Conditions
        </p>
        <div class="sign-up-container">
          <ion-button expand="full" class="sign-up-btn">Sign Up</ion-button>
          <div class="sign-up-link">
            Already have an account? <a href="/login">Sign In</a>
          </div>
        </div>
      </ion-card-content>
    </div>
  </div>
</ion-content>
